.shopPage{
    .formControl {
        margin: 90px 10px 0px 10px;
        min-width: 250px;
    }

    .shop{
        padding: 2% 5%;
    }

}


.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container .filter {
    
    text-align: center;
    width: 250px;
    
  }
  .flex-container .shop {
    
    width: 800px;
  }