@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$white: #F5F5F5;
$light: #E0C9CB;
$tan: #C3A1A0;
$rose: #BA7E7E;
$dark: #4E4E4E;
$nav-color: #2E3B55;
$color-items: purple;

$breakpoint-tablet: 850px;
$breakpoint-mobile: 600px;