@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
//$font: 'Lato', sans-serif;
$font: Georgia, serif;

$white: #fcfcfc;
$light: #E0C9CB;
$tan: #C3A1A0;
$rose: #BA7E7E;
$dark: #4E4E4E;
$nav-color: #2E3B55;
$color-items: purple;
$shadow: #dfdfdf;
$light-purple: rgb(148, 91, 148);
$breakpoint-tablet: 890px;
$breakpoint-mobile: 675px;
