@import "~react-image-gallery/styles/scss/image-gallery.scss";
.card{
    text-align: left;
    max-width: 1020px;
  margin: 5% auto;
  transition: 200ms;
  background: #fff;
  
  .card__body{
    padding: 0 40px;
    display: flex;
    flex-flow: row no-wrap;
    margin-bottom: 25px;
    
    > .half{
      box-sizing: border-box;
      padding: 0 15px;
      flex: 1 0 50%;
    }
    
    .action{
        button{
          cursor: pointer;
          border: 3px solid purple;
          padding: 5px 15px;
          color: black;
          background: white;
          font-size: 20px;
          transition: 200ms;
          margin-bottom: 50px;
          &:hover{
            background: whitesmoke;
          }
        }
      }

    .featured_text{
      h1{
        margin: 20px 0px;
        margin-top: 60px;
        padding: 0;
        font-size: 44px;
        line-height: 50px;
        color: #181e28;
      }
      
      p{
        margin: 10px 0px;
        padding: 10px;
        &.price{
          font-family: "Fjalla One", sans-serif;
          color: purple;
          font-size: 26px;
        }
      }
    }
    
    .image{
      padding-top: 0px;
      width: 100%;
      
      img{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    
    .description{
      margin-bottom: 15px;
      
      p{
        border-top: 2px solid lightgray;
        margin: 5px 0px;
        padding-top: 10px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        line-height: 27px;
        font-size: 16px;
        color: #555;
      }
    }
    
  }
  
}
