@import '../../global/constants.scss';

.headerBar{
    height: 24px;
    background: $dark;
}    

.links{
    display: inline;
    .link{
        margin-left: 1%;
        margin-top: 0px;
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .or{
        color: gainsboro;
    }
}

