.rootAbout {
    height: 100vh;
    padding: 20px;
}

.textAbout{
    margin: 70px 10px 10px 10px;
}

.paper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}