.cardContainer {
    width: 220px;
    height: 250px; 
    margin: 10px; 
    display: inline-block; 
    
    .cardMedia{
        height: 155px;
        margin-bottom: none;
    }

    .cardContent{
        height: 50px;
        text-align: left;
        p{
            font-size: 15px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        
            
        }
    }
}