.heroContent {
    background-color: gray;
    padding: 8%;
    background-image: url('../images/nike.jpg');

    .heroButtons {
        margin-top: 20px;
    }
    .white {
        color: #fff;
        text-shadow: 2px 2px 4px #000000
    }
}

.subtitle{
    text-align: left;
    margin-bottom: 18px;
    h2 {
        margin-bottom: 0px;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .cardMedia {
        padding-top: 66.25%; // 16:9
    }
    .cardContent {
        flex-grow: 1;
        text-align:left;
        
        .text{
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
}

.tab {
    flex-grow: 1;
    background-color: transparent;
    margin-top: 30px;

    .tabBar{
        background-color: transparent;
        color: black;
        box-shadow: none;
    }


}