$nav-color: #2E3B55;

.heroContent {
    background-color: gray;
    //padding: 11% 8%;
    background-image: url('../images/back2.png');
    width: 100%;
    margin: auto;
    height: 460px;

    .heroButtons {
        margin-top: 20px;
        text-align: left;
        
        .MUIbutton{
            border-radius: 0px;
            border: 3px solid purple;
            min-width: 150px;
            background: rgb(255, 255, 255);
            &:hover{
                background: rgb(238, 238, 238);
            }
        }
    }
    
    .white {
        color: #000000;
        text-shadow: 2px 2px 4px #fff
    }
    .price{
        color: purple;
    }
    .txt{
        margin-right: 19%;
    }
}

.leftList { 
    width: 20%;
    float: left;
    height: 460px;
    margin-left: 75px;
} 
.rightText{ 
    width: 60%;
    float: left;
    height: 300px;
    align-items: left;
    margin: 7% 1%;

    .white{
        text-align: left;
    }

} 


.subtitle{
    text-align: left;
    margin-bottom: 18px;
    h2 {
        margin-bottom: 0px;
        font-weight: normal;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .cardMedia {
        padding-top: 66.25%; // 16:9
    }
    .cardContent {
        flex-grow: 1;
        text-align:left;
        
        .text{
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
}

.tab {
    flex-grow: 1;
    background-color: transparent;
    margin-top: 30px;

    .tabBar{
        background-color: transparent;
        color: black;
        box-shadow: none;
        .PrivateTabIndicator-colorSecondary-9 {
            background-color: purple;
        }
        .tabTitle{
            font-size: 18px;
            text-transform: none;
        }
    }
}

.categoriesList{
    width: 100%;
    max-width: 360px;
    background-color: whitesmoke;
    border-right: 2px solid rgb(209, 209, 209);
    border-bottom: 2px solid rgb(209, 209, 209);

    .menuTitle{
        font-variant-caps: all-petite-caps;
        font-size: 30px;
        color: purple;
        span{
            font-size: 1.5rem;
            font: bolder;
            line-height: 20px;
        }
    }
}

@media (max-width: 750px){
    .categoriesList{
        display: none;
    }
    .heroContent{
        height: 380px;
    }
    .rightText{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        
        .txt{
            font-size: 15px;
            margin-right: 0px;
        }
        .price{
            font-size: 25px;
        }   
        .title{
            font-size: 30px;
        }   
    }
    .leftList{
        margin-right: 0px;
        margin-left: 0px;
    }
}