@import 'src/global/constants.scss';

.heroContent {
    background-color: gray;
    //padding: 11% 8%;
    background-image: url('../images/back2.png');
    width: 100%;
    margin: auto;
    height: 455px;

    .heroButtons {
        margin-top: 20px;
        text-align: left;
        
        .MUIbutton{
            border-radius: 0px;
            border: 3px solid purple;
            min-width: 150px;
            background: $white;
            &:hover{
                background: $light-purple;
                color: white;
            }
        }
    }
    
    .white {
        font-family: $font;
        color: $dark;
        text-shadow: 2px 2px 4px $white
    }
    .price{
        color: purple;
    }
    .txt{
        margin-right: 23%;
        font-family: $font;
    }
}

.leftList { 
    width: 20%;
    float: left;
    height: 455px;
    margin-left: 8%;
    
    font-family: $font;
} 
.rightText{ 
    width: 60%;
    float: left;
    height: 300px;
    align-items: left;
    margin: 5% 0%;

    .white{
        text-align: left;
    }

} 


.subtitle{
    text-align: left;
    margin-bottom: 18px;
    h2 {
        margin-bottom: 0px;
        font-weight: normal;
        font-family: $font;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .cardMedia {
        padding-top: 66.25%; // 16:9
    }
    .cardContent {
        flex-grow: 1;
        text-align:left;
        
        .text{
            font-family: $font;
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
}

.tab {
    flex-grow: 1;
    background-color: transparent;
    margin-top: 30px;

    .tabBar{
        background-color: transparent;
        color: black;
        box-shadow: none;
        .PrivateTabIndicator-colorSecondary-9 {
            background-color: purple;
        }
        .tabTitle{
            font-size: 18px;
            text-transform: none; 
            font-family: $font;
        }
    }
}

.categoriesList{
    width: 100%;
    max-width: 360px;
    background-color: $white;
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;

    .menuTitle{
        font-variant-caps: all-petite-caps;
        font-size: 30px;
        color: purple;
        span{
            font-size: 1.5rem;
            font: bolder;
            line-height: 20px;
            font-family: $font;
        }
    }
}

@media (max-width: 750px){

    .categoriesList{
        display: none;
    }
    .heroContent{
        height: 380px;
    }
    .rightText{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        
        .txt{
            font-size: 15px;
            margin-right: 0px;
        }
        .price{
            font-size: 25px;
        }   
        .title{
            font-size: 30px;
        }   
    }
    .leftList{
        margin-right: 0px;
        margin-left: 0px;
    }
}