$nav-color: #2E3B55;
$breakpoint-mobile: 750px;

.grow {
    flex-grow: 1;
   
    .appBar{
        /*position: fixed;
        top: 0;
        width: 100%;*/
        
        margin-top: 0px;
        background: $nav-color;
        a {
            text-decoration: none;
            color: white;
            margin-right: 10px;
            margin-left: 3%;
        }
    }
    
    .menuButton {
        
        visibility: hidden;
    }
    .searchIcon {
        //padding-left: 10px;
        /*display:  flex ;
        height:  100% ;
        align-items:  center ;
        position:  absolute ;
        pointer-events:  none ;
        justify-content:  center;*/
        display: inline;
        //margin: 25px 20px;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 15px;
    }
    .navButton{
        color: aliceblue;
        border-radius: 0em;
        font-size: 15px;
        margin: 0px 10px;
        padding: 5px;
        height: 64px;
    }
    .navButton:hover{
        box-shadow: inset 0 -5px 0 0 whitesmoke;
    }
}   


@media (max-width: $breakpoint-mobile) {

    .grow {
        .menuButton {
            visibility: visible;
        }
    }

}






.list {
    width: 220px;
    
    .menuItem{
        margin-left: 10px;
    }
    .menuList:hover{
        box-shadow: inset -5px 0 0 0 $nav-color;
    }
    .menuTitle{
        color: $nav-color;
    }
}