.grow {
    flex-grow: 1;
    
    .appBar{
        background: #2E3B55;
    }
    .menuButton {
        margin-right: 10px;
    }
    .searchIcon {
        padding-left: 10px;
        height:  100% ;
        position:  absolute ;
        pointer-events:  none ;
        display:  flex ;
        align-items:  center ;
        justify-content:  center 
    }
    .navButton{
        color: aliceblue;
        border-radius: 0em;
    }
    .navButton:hover{
        box-shadow: inset 0 -10px 0 0 cyan;
    }
}   

.list {
    width: 220px;
}