@import 'src/global/constants.scss';

.containerFooter{  
  background-color: $nav-color;
}


.footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  .social{
    width: 100%;
    margin: 1px auto;
  }

  ul  {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
    
    li {
      cursor:pointer;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.companyLink {
  text-decoration: none;
  color: white;
}
