@import '../../global/constants.scss';

.main{
    margin-bottom: 70px;
    border: 2px solid gainsboro;
    .paper {
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .title{
            width: 113%;
            background: gainsboro;
        }
        .form {
            width: 100%; // Fix IE 11 issue.
            margin-top: 5px;
            
            .field{
                border-radius: none;
            }
        }
        
        .submit{
            margin: 0px;
            color: whitesmoke;
            background: purple;
        }
    }
}

