@import '../../global/constants.scss';

.grow {
    flex-grow: 1;
    .appBarr{
        background: rgb(247, 247, 247);
        height: 60px;
    }
    .title {
        margin: 0% 8%;
        color: black; 
    }
    .path {
        min-width: 250px;
        margin: 0% 7%;
        color: black; 
    }
}